@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --main-bg-color: #f0f0f0;
    --secondary-bg-color: #b4b4b4;
    --font-color: #f9f9f9;
    --secondary-font-color: #616161;
    --button-color: rgba(99,99,102);
    --border-color: #36486b;
    --calculator-color: rgba(44,44,46);
    --special-button-color: rgba(255,149,0);
    --system-button-color: rgba(174,174,178);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-bg-color);
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Anek Telugu', sans-serif;
}

.calculator {
    width: 400px;
    height: 700px;
    background: var(--calculator-color);
}

.result__screen {
    width: 400px;
    height: 150px;
    background: var(--calculator-color);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.result__screen h2 {
    font-size: 5rem;
    color: var(--main-bg-color);
}

.calculator__body {
    width: 400px;
    height: 500px;
    padding: 20px;
    background: var(--calculator-color);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 60px;
    font-size: 2rem;
}

.custom-button:hover {
    background: #fff9ff;
    color: #140f07;
}

.item {
    grid-column:  span 2;
}

.special-button {
    background: var(--special-button-color);
}

.system-button {
    background: var(--system-button-color);
    color: var(--calculator-color);
}